﻿@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model EmployeeCapture.Models.EmployeeViewModel

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "empForm" }))
{
    @Html.AntiForgeryToken()
    <h2 class="social-text">New Employee Information</h2>
    <div id="new-employee" class="form-horizontal">
        <p><span style="color: red">*</span> required</p>
        <fieldset>
            <legend>Personal Information:</legend>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10"><span style="color: red">*</span>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })  
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10"><span style="color: red">*</span>
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10"><span style="color: red">*</span>
                    @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10"><span style="color: red">*</span>
                    @Html.DropDownListFor(model => model.Gender, Model.Genders, "Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Additional Information</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"><span style="color: red">*</span>
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Social Media Information</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.FacebookProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FacebookProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FacebookProfileLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TwitterProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TwitterProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TwitterProfileLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LinkedInProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LinkedInProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LinkedInProfileLink, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="btnSubmit" class="btn btn-success">Add New Employee</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#empForm').submit(function (e) {
            e.preventDefault();

                $.ajax({
                    url: '@Url.Action("Create", "Home")',
                    type: 'POST',
                    data: $('#empForm').serialize(),
                    beforeSend: function () {
                        showLoading()
                    },
                    complete: function () {
                        removeLoading()
                    },
                    success: function (data) {
                        if (data.success) {
                            removeLoading();
                            swal({
                                icon: 'success',
                                title: 'Success',
                                text: data.responseMessage,
                                type: 'success'
                            }).then(function () {
                                window.location.href = '@Url.Action("ViewExistingEmployees", "Home")';
                            });
                        } else {

                        }
                    },
                    error: function () {
                        swal({
                            icon: 'error',
                            title: 'Ooops....',
                            text: "An error has occured, please make sure all required fields have been entered",
                            type: 'error'
                        }).then(function () {
                             window.location.href = '@Url.Action("ViewExistingEmployees", "Home")';
                        });
                    }
                })
        });

        function showLoading() {
            window.blockElement('#new-employee', 'Processing...please wait');
            $('#btnSubmit').attr('disabled', true);
        }

        function removeLoading() {
            window.unblockElement('#new-employee');
            $('#btnSubmit').removeAttr('disabled');
        }

        window.unblockElement = function (selector) {
            $(selector).unblock();
        }

        window.blockElement = function (selector, message) {
            $(selector).block(message);
        }
    });
    </script>
}

