﻿@model EmployeeCapture.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="social-text">Employee Details</h2>

<div>
    <fieldset>
        <legend>Personal Information:</legend>
        <div class="form-group">
            <span class="control-label">@Html.DisplayNameFor(model => model.FirstName)</span> :
            @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Surname) :
            @Html.DisplayFor(model => model.Surname, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Gender) :
            @Html.DisplayFor(model => model.Gender, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.IdNumber) :
            @Html.DisplayFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form form-control" } })
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Additional Information</legend>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Email) :
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Address) :
            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.ContactNumber) :
            @Html.DisplayFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form form-control" } })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.DateAdded) :
            @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form form-control" } })
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Social Media Information</legend>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.FacebookProfileLink) :
            @Html.DisplayFor(model => model.FacebookProfileLink, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.TwitterProfileLink) :
            @Html.DisplayFor(model => model.TwitterProfileLink, new { htmlAttributes = new { @class = "form form-control" } })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.LinkedInProfileLink) :
            @Html.DisplayFor(model => model.LinkedInProfileLink, new { htmlAttributes = new { @class = "form form-control" } })
        </div>
    </fieldset>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
