﻿@model EmployeeCapture.Models.EmployeeViewModel

@{
    ViewBag.Title = "Edit";
}
<div id="edit-employee">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post,new { id = "editEmployeeForm" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="social-text">Update Employee Details</h2>
        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend>Personal Information:</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Additional Information</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <legend>Social Media Information</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.FacebookProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FacebookProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FacebookProfileLink, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TwitterProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TwitterProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TwitterProfileLink, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LinkedInProfileLink, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LinkedInProfileLink, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkedInProfileLink, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="btnSave" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        $('#editEmployeeForm').submit(function (e) {
            e.preventDefault();

                var disabled = $('#editEmployeeForm').find(':input:disabled').removeAttr('disabled');

                $.ajax({
                    url: '@Url.Action("Edit", "Home")',
                    type: 'POST',
                    data: $('#editEmployeeForm').serialize(),
                    beforeSend: function () {
                        showLoading()
                    },
                    complete: function () {
                        removeLoading()
                    },
                    success: function (data) {
                        if (data.success) {
                            removeLoading();
                            swal({
                                icon: 'success',
                                title: 'Success',
                                text: data.responseMessage,
                                type: 'success'
                            }).then(function () {
                                window.location.href = '@Url.Action("ViewExistingEmployees", "Home")';
                            });
                        } else {

                        }
                    },
                    error: function () {
                        swal({
                            icon: 'error',
                            title: 'Ooops....',
                            text: "A serious error occured",
                            type: 'error'
                        }).then(function () {
                            disabled.attr('disabled', 'disabled');
                            window.location.href = '@Url.Action("ViewExistingEmployees", "Home")';
                        });
                    }
                })
        });

        function showLoading() {
            window.blockElement('#edit-employee', 'Processing...please wait');
            $('#btnSave').attr('disabled', true);
        }

        function removeLoading() {
            window.unblockElement('#edit-employee');
            $('#btnSave').removeAttr('disabled');
        }

        window.unblockElement = function (selector) {
            $(selector).unblock();
        }

        window.blockElement = function (selector, message) {
            $(selector).block(message);
        }
    });
    </script>
}
