﻿@model IEnumerable<EmployeeCapture.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    <button type="submit" id="btnSave" class="btn btn-primary">Add New Employee</button>
</p>
<table id="employee-view" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookProfileLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterProfileLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedInProfileLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="pointer" ondblclick="viewRecord(@item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacebookProfileLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterProfileLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedInProfileLink)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function viewRecord(recordId) {
            var link = '@Url.Action("Details", "Home", new { id = "recordId" })';

            window.open(link.replace("recordId", recordId.toString()), '_blank');
        }
    </script>
}