﻿
@{
    ViewBag.Title = "Employee Management System";
}

<div id="employee-form">

    <section id="employee-details" class="banner-section">
        <!-- <div class="slant-div" style="height: 100px;">
                    <div>
                <h1>Want To Manage Employee Details</h1>
            </div>
            <div class="slant-div">
            </div>

        </div>-->
    </section>
    <section>
        <div>
            <h2 class="header-text">WHAT WE DO:</h2>
            <paragraph>
                <text class="paragraph-text">
                    Employee Capturer is one of the best data capturing software in the world, with ease, with finesse, with accuracy, know your employees with a press of a few buttons.
                </text>
                <br /><br />
                <text class="paragraph-text">
                    We increase business productivity by removing neusense of searching for their employees through registers or having to write them down, and most importantly we save earth by saving papers.
                </text>
                <br /><br />
                <text class="paragraph-text">
                    Our System offers the following:
                    <ul>
                        <li>Add a new employee</li>
                        <li>View added employees details</li>
                        <li>Edit employees details</li>
                        <li>Update employee details</li>
                    </ul>
                    <br />
                </text>
            </paragraph>

            <hr class="hr-line" />

            <h2 class="header-text">MAKE A DIFFERENCE:</h2>
            <paragraph>
                <div class="row">
                    <div class="column">
                        <img src="~/Content/Images/p1.png" height="200" style="width:100%" />
                        <br /><br />
                        <p style="word-wrap:break-word">Remove paper based process and start using employee capturer.</p>
                    </div>
                    <div class="column">
                        <img src="~/Content/Images/p2.png" height="200" style="width:100%;" />
                        <br /><br />
                        <p style="word-wrap:break-word">Pros out-weigh the Cons, Make the best decision and go digital.</p>
                    </div>
                    <div class="column">
                        <img src="~/Content/Images/p3.png" height="200" style="width:100%;" />
                        <br /><br />
                        <p style="word-wrap:break-word">Employees should feel important, remove the papers and they will.</p>
                    </div>
                </div>
            </paragraph>
            </div>
    </section>
    <section class="social-section">
        <hr class="hr-line"  />
        <div>
            <paragraph>
                <div>
                    <h2 class="social-text">Get in touch with us</h2>
                    <br /><br />
                    <div style="margin-left: 44%">
                        <a href="https://twitter.com" target="_blank"><span class="fa fa-twitter-square social-icons"></span></a> |
                        <a href="https://facebook.com"  target="_blank"><span class="fa fa-facebook-square social-icons"></span></a> |
                        <a href="https://linkedin.com"  target="_blank"><span class="fa fa-linkedin-square social-icons"></span></a>
                    </div>
                </div>
                <br /><br />
            </paragraph>
        </div>
    </section>

</div>