﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.slant-div {
    background: #e5d7d7;
    position: absolute;
    width: 59.4%;
    margin-top: 15%;
}

.slant-div::after {
    position: absolute;
    width: 100%;
    height:100%;
    content: 'Hello';
    background:inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: -30px; 
    transform-origin: bottom right;
    transform: skew(-20deg);
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.social-icons {
    font-size: 2em;
    margin-left: 5px;
    color: #A64856;
}

.social-text {
    text-align: center;
    color: #A64856;
    font-weight: bolder;
}

.header-text {
    text-align: left;
    color: #A64856;
    font-weight: bolder;
}

.hr-line {
    border-top: 1px solid #A64856;
}

.paragraph-text {
    color: black;
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.social-section {
    background-image: url(/Content/Images/smb.jpg);
}

.banner-section {
    background-image: url(/Content/Images/BannerLanding.jpg);
    height: 300px;
    width: 100%;
}